.container {
    text-align: center;
    margin-top: 50px;
}

.form-group {
    margin-bottom: 15px;
}

#dataInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#pesquisarBtn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#pesquisarBtn:hover {
    background-color: #0056b3;
}
